$dark-violet: #64E80C;
$violet: #95009C;
$thin-gray-border: 1px solid #D8D1CA;
$green: #11A834;
$dark-violet: #57005C;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;


.wrap {
    margin: 0 auto;
    width: 350px;
    position: relative;
    @media (max-width : 533px)  {
        //background: pink;
    }
    z-index: 1000;

    input {
        margin: 0 auto;
        margin-bottom: 1.3em;
        width: 328px;
        width: 100%;
        height: 50px;
        border: $thin-gray-border;
        font-style: italic;
        font-weight: 500;
        color: #999999;
        padding-left: 20px;
        box-sizing: padding-box;
        font-size: 14px;

        &:focus {
            outline: none;
            border: 2px solid $violet;
        }
    }

    button {
        width: 100%;
        background: $violet;
        border: 2px solid $violet;
        height: 50px;
        color: white;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1.3em;
        cursor: pointer;
        &:disabled {
            background: $light-beige-gray;
            border-color: $light-beige-gray;
        }
    }
    
}

.underBtn {
    margin-bottom: 1.3em;

    span {
        font-style: italic;
        color: $violet;
        font-size: 18px;
        text-align: end;
        padding-left: 3.3em;
    }
    label {
        margin: 0px auto auto 0px;
        height: 2em;
    }
}

.error, .errorPassword {
    font-size: $small-fontSize;
    position: absolute;
    top: 36px;
    color: #FF0000;
    left: 20px;
}
.errorPassword {
    top: 104px;
    
}

.alreadyRegisteredMsg {
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
    color: $violet ;
}