$green: #11A834;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.editBlock {
    max-width: 200px;
    margin-top: 36px;

    button {
        display: block;
        border: 3px solid #C899CC;
        font-weight: 600;
        letter-spacing: .5px;
        font-size: 18px;
        background: white;
        padding: .6em;
        cursor: pointer;
        transition: 300ms;
        margin: 10px 0;
        width: 180px;
        color: $violet;

        a {
            color: inherit;
        }
        
        &:hover {
            border-color: $violet;
        }

        &:disabled {
            color: $light-beige-gray;
            border-color: $light-beige-gray;
        }
    }

    @media (max-width: 1200px) {
        button {
            width: fit-content;
            font-size: 16px;
        }
    }

    @media (max-width: 1024px) {
        button {
            width: 180px;
            font-size: 18px;
        }
    }
}