$green: #11A834;
$light-violet: #C899CC;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.menuBar {
    display: flex;
    border-bottom: $thin-gray-border;
    background: $light-background;
}

.hiddenMenuBar {
    display: none;
}

.mobileDashBoard {
    @media (min-width: 769px) {
        display: none;
    }
}

.filters {
    width: 100%;
}

.selectedfilters,
.selectedfilters div {
    font-size: $small-fontSize;
    color: $dark-fontcolor;
    display: block;
    font-weight: 700;
}

.selectedfilters {
    margin: 0px auto;
    width: 86%;
}

.filtersOptions {
    margin: 0;
    padding: 0;
    cursor: pointer;
    display: block;
    background: white;


}


.filterName,
.otherFilterName {
    font-size: $small-fontSize;
    font-weight: 700;
    color: $gray-fontcolor;
    width: 100%;
    
}

.filterName {
    display: block;
    width: 86%;
    margin: 0 auto;
}


.otherFilterName {
    display: block;
    margin: 0;
    height: 18px;
    border: none;
    height: 50px;
    border: 1px solid transparent;
    border-top: $thin-gray-border;

    p {
        //border: 1px solid salmon;
        width: 86%;
        display: flex;
        margin: 14px auto;
    }

    img {
        //margin: auto;
        margin: 0px 0 auto auto;
        display: inline-block;
        //border: 1px solid salmon;
    }

}

.otherFilterName:first-child {
    //border-bottom: $thin-gray-border;
}


.filters img {
    margin-bottom: -5px;
}

.selectedfilters img {
    margin-right: 5px;
}

.hiddenAccordeon {
    display: none;
}

.accordeon {
    transition: all 700ms;
    z-index: 1;
    width: 100%;
    padding: 0;
}

.filterCheckBoxLabel {
    display: flex;
    color: $gray-fontcolor;
    margin-top: 4px;

    input {
        height: 16px;
        margin-right: 6px;
        display: block;
    }
    span {
        margin-bottom: 6px;
        display: block;
    }
}

.filterCheckBoxWrapper {
    display: inline-block;
    //border: 1px solid greenyellow;
    width: 50%;
    padding: 6px 0;    
}
