$green: #11A834;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;



.subscribeForm {
    display: flex;

    @media (max-width: 1200px) {
        display: block;
    }

    @media (max-width: 840px) {
        display: flex;
    }
}

.subscribeForm {
    position: relative;
    input,
    button {
        font-size: 18px;
        height: 3em;
        border-radius: 2px;
        padding: 0 .4em;

        @media (max-width: 1350px) {
            font-size: 14px;
        }

        @media (max-width: 1325px) {
            height: 2em;
        }

        @media (max-width: 1200px) {
            height: 3em;
        }
    }

    input {
        color: #666666;
        width: 62%;
        border: none;

        &:focus {
            outline: none;
        }

        @media (max-width: 1200px) {
            width: 94%;
        }

        @media (max-width: 840px) {
            width: 63%;
        }

        @media (max-width: 768px) {
            width: 36%;
        }

        @media (max-width: 533px) {
            width: 63%;
        }
    }

    button {
        background: #D8C1D9;
        border: none;
        color: $dark-fontcolor;
        letter-spacing: .03em;
        margin: auto auto auto 6px;
        font-weight: 600;
        cursor: pointer;
    
        &:hover {
            background: $light-beige-gray;
            transition: 400ms;
        }
        &:disabled {
            background: $light-beige-gray;
            color: $gray-fontcolor;
        }
    
        @media (max-width: 1200px) {
            margin: 10px auto;
            display: block;
        }
    
        @media (max-width: 840px) {
            height: 2em;
            margin: 2px auto;
            height: 3em; 
        }
    
        @media (max-width: 768px) {
            width: 20%;
            margin: auto auto auto 6px;
        }
    
        @media (max-width: 533px) {
            width: auto;
        }
    
    }

    .error {
        position: absolute;
        top: 24px;
        color: red;
        font-size: $small-fontSize;
    }


}

