$green: #11A834;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;


.wrapper {
    position: absolute;
    position: fixed;
    background-color: rgba(0, 0, 0, .5);

    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    height: 100%;



    &>div {
        position: absolute;
        background: white;
        top: 10vh;
        border-radius: 10px;
        padding: 20px;
        left: 46vw;
        width: 24vw;
        
    }
}
.notification {
    text-align: center;
}
.btnsWrapper {
    display:  flex;
    justify-content: space-evenly;
    margin-top: 16px;
    
}

.yesBtn, .cancelBtn {
    width: 44%;
    background: white;
    border: none;
    height: 3em;
    font-size: 16px;

}

.yesBtn {
    text-transform: uppercase;
    background: $violet;
    a {
        font-weight: 700;
        color: white;
    }
}
.cancelBtn {
    color: $violet;
}