$green: #11A834;
$light-violet: #C899CC;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.flex {
    display: flex;
    justify-content: center;
    height: fit-content;
    //border: 1px solid darkblue;
    width: 100vw;
    flex-wrap: nowrap;
    

    @media (max-width: 924px) {
        display: block;
    }  
    @media (max-width: 768px) {
        
    }
    @media (max-width: 533px) {
        
    }
}

.col, .passiveCol {
    flex: 1;
    background: $light-background;
    //background: #ececec;
    margin: 20px;
    border-top: 2px solid $violet;
    max-width: 460px;
    min-width: 340px;
    height: auto;
    //border: 1px solid darkcyan;
    padding-bottom: 20px;


    &:last-child {
        background: white;
    }

    @media (max-width: 1128px) {
        margin: 10px;
    }
    @media (max-width: 1078px) {
        margin: 4px;
        min-width: 320px;

    }
    @media (max-width: 956px) {
        min-width: 300px;
    }
    @media (max-width: 924px) {
        display: block;
        margin: 20px auto;
        margin-bottom: 60px;
        border-top: none;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 38%;
            background: $violet;
            top: 0;
            left: 8%;
        }
    }
}

.passiveCol {
    opacity: .69;
    pointer-events: none;
}