$green: #11A834;
$light-violet: #C899CC;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.wrap {
    //display: flex;
    //border: 1px solid green; 
    color: $gray-fontcolor;

    @media (max-width: 1024px) {}

    @media (max-width: 768px) {}

    @media (max-width: 533px) {}
}


.formLine {
    width: 92%;
    margin: 0 auto;
    position: relative;



    input,
    textarea {
        font-family: inherit;
        width: 100%;
        margin-bottom: 20px;
        font-size: 16px;
        border: $thin-gray-border;
        padding: 1em;
        color: inherit;

        &:focus {
            outline: none;
        }
    }

    textarea {
        resize: none;
        //height: auto;
    }

    img {
        position: absolute;
        height: 10px;
        top: 22px;
        right: 10px;
    }

}

.hintsWrap {
    position: absolute;
    top: 80px;
    width: 100%;
    overflow-y: visible;
    background: white;
    box-shadow: 1px 1px 8px 3px rgba(218, 218, 218, 80%);
    z-index: 9;

}

.hint {
    display: block;
    font-size: 14px;
    padding: 0 10px;
    margin: 10px 0;
    cursor: pointer;
    height: fit-content;
    width: 100%;

}



.submitBtn {
    color: $violet;
    background: white;
    display: flex;
    justify-content: center;
    margin-right: 6px;
    border: 3px solid $light-violet;
    width: 100%;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 16px;
    transition: 300ms;
    min-width: 180px;

    &:hover {
        border-color: $violet;
    }

    span {
        margin: 0;
    }

    &:disabled {
        border-color: #D8D1CA;
        color: $light-beige-gray;
    }
}