$green: #11A834;
$light-violet: #C899CC;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.wrap {
    border: $thin-gray-border;
    background: white;
    //width: 50%;
    flex: 1;
    margin: 26px;

    @media (max-width: 1024px) {
        margin-top: 46px;
        height: 24vw;
        
    } 

    @media (max-width: 768px) {
        margin-top: 26px;
        height: 36vw;

    }

    @media (max-width: 533px) {
        height: auto;

        
    }
}
.line, .shipline {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-weight: 600;
    margin-bottom: 0;
}

.shipline {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    display: inline;
    text-align: right;
    p {
        margin: 0;
        padding-right: 20px;
    }
}
.bigInt {
    font-size: 36px;
    font-weight: 300;
    color: #666666;

}