$green: #11A834;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.mainWrapper {
    border-bottom: 1px solid #D8D1CA;
    display: none;
    height: 50px;
    min-width: 100%;
    position: relative;
    
    @media (max-width : 533px)  {
        display: flex;
    }
}

.burgerWrap {
    width: 50px;
    min-width: 50px;
    height: 100%;
    border-right: 1px solid #D8D1CA;
    img {
        width: 60%;
        //border: 1px solid pink;
        display: block;
        margin: 10px auto;
        transition: 300ms;
    }
}
.logoWrap {
    width: 62%;
    //border: 1px solid pink;
    margin: 0 auto;
}

.logo {
    width: 100px;
    margin: 12px auto;
    display: block;
}

.navWrap {
    border: 1px solid teal;
}


.navLinkWrap {
    cursor: pointer;
    position: absolute;
    top: 51px;
    left: 0;
    width: 100vw;
    display: block;
    height: 100vh;
    z-index: 1001;
    background: white;
    box-sizing: border-box;
    //border: 1px solid yellow;
}

.navItem {
    width: 100%;
    margin: 0;
    padding: 0;
    background: $light-background;
    border-bottom: 1px solid $light-beige-gray;
    span {
        //margin: 24px auto;
        padding: 20px;
        display: block;
        font-weight: 800;
        color: $gray-fontcolor;
        font-size: 20px;    
    }
}



.accordeon {
    min-height: 80px;
    min-width: 188%;
    background: $light-background;
    border: $thin-gray-border;
    top: 70px;
    left: 0;
    position: absolute;
}



.menuWrap {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    margin-left: auto;
    cursor: pointer;
    //border: 1px solid goldenrod;
}

.menuItem, .mapIcon {
    font-size: 12px;
    width: 40px;
    padding-top: 16px;
    position: relative;

    img {
        height: 20px;
        display: block;
        margin: 0 auto;
    }

    p {
        margin: 0 auto;
        text-align: center;
        display: block;
    }
}

.mapIcon {
    margin: 12px;
    width: 60px;
    text-align: center;
}