$green: #11A834;
$light-violet: #C899CC;
$violet: #95009C;
$dark-violet: #57005C;
$thin-gray-border: 1px solid #D8D1CA;
$light-beige-gray: #D8D1CA;
$dark-fontcolor: #333333;
$gray-fontcolor: #666666;
$small-fontSize: 14px;
$light-background: #FAFAFA;
$serif-font-family: 'Playfair Display SC', serif;

.flex,
.mainSection,
.imgBlock
.container {
    width: 92%;
    margin: 40px auto;
    border: $thin-gray-border;
}

.flex {
    display: flex;
    justify-content: center;
    h2 {
        font-size: 20px;   
    } 
}

.mapWrap {
    width: 68%;
    height: 400px;

    iframe {
        width: 100%;
        height: 100%;
    }
}

.textBlock {
    width: 32%;
}

.imgBlock {
    img {
        width: 100%;
    }

    &>div {
        max-width: 600px;
        margin: 0 auto;
        margin-top: 40px;
    }

}
.text {
    margin-bottom: 10px;

}

@media (max-width: 828px) {
    .mainSection {
        h1 {
            font-size: 18px;
        }
    }
    .flex {
        display: block;
    }

    .textBlock {
        width: 100%;
        margin-bottom: 40px;
        h2 {
            margin: 0;
        }
    }

    .mapWrap {
        width: 100%;
    }
    
} 